body {
    background-color: #4ccbe7;
    font-family: 'Open Sans', sans-serif;
    color: #fffbfa;
    display: flex;
    flex-direction: column-reverse;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 672px;
    height: 504px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #00bd75;
    border: 1px solid #8bd7d2;
    border-radius: 50px;
}

p {
    font-weight: 900;
}

button {
    background-color: #49c6e5;
    color: #fffbfa;
    border-radius: 5%;
    margin: 15px;
    padding: 2px;;
    font-size: 20px;
}

.divFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #fffbfa;
}

.divFlex:last-child {
    border: none;
}

#imgCones {
    max-width: 75%;
    height: auto;
}

#imgBowls {
    max-width: 50%;
    height: auto;
}

#imgFloats {
    max-width: 50%;
    height: auto;
}