body {
    background-color: #49C6E5;
    font-family: 'Open Sans', sans-serif;
    color: #fffbfa;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 672px;
    height: 504px;
}